

body {
    text-align: center;
}


h1 {
    font-family: Helvetica, Sans-Serif;
}

.jumbotron {
    background-color: #1dcaff;
    margin-top: 5%;
    margin-bottom: 50%;
    padding-top: 10%;
    padding-bottom: 10%
}