<html>
<head>
    <title>TweetLikeMe</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="http://code.jquery.com/jquery-3.2.1.js"></script>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
<div class="container">
    <div class="jumbotron">
      <div class="display-4, titlecase">TweetLikeMe</div>
          <p class="lead">
            <form action="/tweet_gen" id="tweet-gen-form">
                    <label for="twitter-username">Enter Twitter username:</label>
                    <input type="text" name="twitter-username" id="twitter-username"> 
                    <input type="submit" value="Tweet like me" class="btn btn-outline-white", "btn" href="#" role="button">
                <p>
                <div id= "markov-tweet" class="tweet"></div>
                <p>
            </form>
          </p>
    </div>
</div>
    <script>
        function showMarkovTweet(result) {
            $('#markov-tweet').html(result);
        };

        function makeTweet(evt) {
            evt.preventDefault();
            var formData = {
                "twitter-username": $("#twitter-username").val()    
            };
            
            $.get("/tweet_gen", 
                formData,
                showMarkovTweet
                );
        }
        $("#tweet-gen-form").on("submit", makeTweet);
    </script>
</body>
</html>


